@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Medium.woff2') format('woff2'),
        url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Medium.woff') format('woff'),
        url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Semibold.woff2') format('woff2'),
        url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Semibold.woff') format('woff'),
        url('../General-Sans/Fonts/WEB/fonts/GeneralSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}